In [ ]:
#Naveen

#start

In [ ]:
import csv
#file1 = open("/home/dmacs-7/Documents/Mtechsem2/203/st/test.csv")
file1 = open("/content/temp.csv")
data = csv.reader(file1)
header = next(data)
print(header)
rows = []
for row in data:
    rows.append(row)
print(rows)
for j in rows:
  print(j[1],j[2])

['name', 'regdno', 'phno', 'a']
[['naveen', '21551', '1422', '0'], ['nandan', '21552', '1231', '0'], ['veeerendra', '21553', '3231', '0'], ['suvam', '21554', '1234', '0'], ['suraj', '21555', '4212', '0'], ['shubank', '21556', '1232', '0'], ['nitin', '21557', '2341', '0'], ['mukesh', '21558', '2342', '0'], ['ram', '21569', '823742', '0']]
21551 1422
21552 1231
21553 3231
21554 1234
21555 4212
21556 1232
21557 2341
21558 2342
21569 823742

In [ ]:
#in select * or name of the attributes currently only small letters need to be entered even for header
#follow up can use list((map(lambda x: x.lower(), s))) to make header as what i needed

#from have to enter filenames (need not give .csv extension) and needed natural_join or cartisian_join as single word not as two
#from can handle any number of joins in any order

#where can handle one statement with =,!=,<,>,>=,<= operations on attributes somemore using AND ,OR yet to be done.

#orderby can be done on one atttribute and in ascending order

#dealing with materialized views.So writing down all the records as of when we know that they are part of it.

#have display function,which takes file.csv as input and reads from the file and displays with header in cyan colour
#and remaining rows as adjusted to 15 characters each word(appended with spaces).

#can use a class with a little change in the code,here i am dealing with file names
#and then opening the files and reading the header and rows 
#instead i can have a class with class variables as file name,header and rows.
#if its done the opening of file reading will be redundant 
#but this opening and closing happening in every function if i implement this in from_fun,i will be saving the file names
#that i need to open.So once and for all i can read the header and rows in that and store it as class variables.

In [ ]:
#all the functions below can be part of Query class and directly invoke all the functions and 
#the input can be a class varible that reads from user

In [ ]:
#the use case of functions are written as comment in first line of function cell

#loading libraries

In [ ]:
import sys
import pandas as pd
import numpy as np
from operator import itemgetter
import csv

In [ ]:
class color:
   PURPLE = '\033[95m'
   CYAN = '\033[96m'
   DARKCYAN = '\033[36m'
   BLUE = '\033[94m'
   GREEN = '\033[92m'
   YELLOW = '\033[93m'
   RED = '\033[91m'
   BOLD = '\033[1m'
   UNDERLINE = '\033[4m'
   END = '\033[0m'

#this is to print in colours

In [ ]:
#to remove few items which are not needed in the list
def remove_items(test_list, item):
    res = [i for i in test_list if i != item]
    return res

In [ ]:
#searching for existence of an element in the list
def search(list, element):
    for i in range(len(list)):
        if list[i] == element:
            return True
    return False

In [ ]:
#searching for the attributes existence in the file's header

def search_attributes(sl,file_name):
  path = "/content/"+file_name
  #print("path is : "+path)
  file1 = open(path)
  data = csv.reader(file1)
  header = next(data)
  header = list((map(lambda x: x.lower(), header)))
  #print(header)
  file1.close()
  attrs_ = [None]*len(sl)

  if (len(sl)==1) and sl[0] == "*":
    return 1
  for i in range(len(sl)):
    attrs_[i] = search(header,sl[i])
    if(attrs_[i]==False):
      
      return 0 
  #file1.close()
  return 1

In [ ]:
#doing cartesian join , if there is any common attributes then it does natural join 
#opens files and do nested loop join.
#and writes back into a file


def cartesian_join_fun(tab1,tab2):
  path1 = "/content/"+tab1
  path2 = "/content/"+tab2
  
  #print("path is : ",path1,path2)
  file1 = open(path1)
  file2 = open(path2)
  data1 = csv.reader(file1)
  header1 = next(data1)
  header1 = list((map(lambda x: x.lower(), header1)))
  data2 = csv.reader(file2)
  header2 = next(data2)
  header2 = list((map(lambda x: x.lower(), header2)))
  lis1,lis2= common_attr_indices(header1,header2)
  if(len(lis1)!=0 and len(lis2)!=0):
    return natural_join_fun(tab1,tab2)
  new_file_name = tab1+"cart_join"+tab2
  with open(new_file_name,"w+") as file3:
     writer = csv.writer(file3)
     #rows = []
     for i in range(len(header1)):
          file3.write(header1[i])
          if(i!=len(header1)):
            file3.write(",")
     for i in range(len(header2)):
          file3.write(header2[i])
          if(i!=len(header2)-1):
            file3.write(",")       
     file3.write("\n")
     for row_a in data1:
       
       file2.close()
       file2 = open(path2)
       data2 = csv.reader(file2)
       header2 = next(data2)
       for row_b in data2:
         
         for i in range(len(row_a)):
          file3.write(row_a[i])
          if(i!=len(row_a)):
            file3.write(",")
         for j in range(len(row_b)):
          
          file3.write(row_b[j])
          if(j!=len(row_b)-1):
            file3.write(",")
          if(j==len(row_b)-1):
             file3.write("\n")

  file1.close()
  file2.close()
  return new_file_name

In [ ]:
#removing the duplicates for projection in select 

def remove_dup(tab1):
  file1 = open(tab1)
  data = csv.reader(file1)
  header = next(data)
  header = list((map(lambda x: x.lower(), header)))
  rows = []
  for row in data:
    if(not row in rows):
      rows.append(row)

  if len(rows) == 0:
    header = []
  return header,rows

In [ ]:
#searching for common attribue's indices

def common_attr_indices(header1,header2):
  index1 = []
  index2 = []
  #common = [False]*len(header1)
  for i in range(len(header1)):
      if(header1[i] in header2):
        index1.append(header1.index(header1[i]))
        index2.append(header2.index(header1[i]))
  #pass
  return index1,index2

In [ ]:
#doing natural join opening file finding common atttrinutes,comapring them if they are same then write into file

def natural_join_fun(tab1,tab2):
  
  path1 = "/content/"+tab1
  path2 = "/content/"+tab2
  
  #print("path is : ",path1,path2)
  file1 = open(path1)
  file2 = open(path2)
  data1 = csv.reader(file1)
  header1 = next(data1)
  header1 = list((map(lambda x: x.lower(), header1)))
  data2 = csv.reader(file2)
  header2 = next(data2)
  header2 = list((map(lambda x: x.lower(), header2)))
  rows1 = []
  for row in data1:
    rows1.append(row)
  rows2 = []
  for row in data2:
    rows2.append(row)
  file1.close()
  new_file_name = tab1+"nat_join"+tab2
  index_lis1,index_lis2 =common_attr_indices(header1,header2)
  #print("THIS IS COMMON ATTRIBUTE INDICES")
  #print(index_lis1,index_lis2)
  index_of_file1 = []
  index_of_file2 = []
  with open(new_file_name,"w+") as file3:
    writer = csv.writer(file3)
    
    for i in range(len(header1)):
          file3.write(header1[i])
          if(i!=len(header1)):
            file3.write(",")
    for i in range(len(header2)):
          if(not i in index_lis2):
            file3.write(header2[i])
            if(i!=len(header2)-1):
              file3.write(",")       
    file3.write("\n")
    temp_row_for_file1 = ""
    temp_row_for_file2 = ""
    
    temp_index1 = 0
    temp_index2 = 0

    for dataitem1 in rows1:
      #prepare search element1
      
      temp_row_for_file1 = ""
      for i in range(len(index_lis1)):
        temp_row_for_file1 += dataitem1[i]
      #print("temp_row_for_file1",temp_row_for_file1)
      for dataitem2 in rows2:
        #prepare for search element2
        temp_row_for_file2 = ""
        for j in range(len(index_lis2)):
          temp_row_for_file2 += dataitem2[j]
        #print("temp_row_for_file2",temp_row_for_file2)
        if (temp_row_for_file2 == temp_row_for_file1):
        
          for temp_index1 in range(len(header1)):
            file3.write(dataitem1[temp_index1])
            
            if temp_index1 != (len(header1)):
              file3.write(",")
          for temp_index2 in range(len(header2)):
            if not temp_index2 in index_lis2:
              file3.write(dataitem2[temp_index2])
              if temp_index2 != (len(header2)-1) :
                file3.write(",")
              else:
                file3.write("\n")
   
  file1.close()
  file2.close()
  return new_file_name

In [ ]:
#order by  an attribute(1 only and ascending order only)

def orderby_fun(orderby_list,tab1):
  if(len(orderby_list)==0):
    return tab1
  
  if len(orderby_list )==1:
    new_file_name = "ordered_"+tab1
    file1 = open(tab1)
  
    data1 = csv.reader(file1)
    header1 = next(data1)
  
    rows1 = []
    for row in data1:
      rows1.append(row)
  
    file1.close()

    index = -1
    
    if(orderby_list[0] in header1):
        index = header1.index(orderby_list[0])
    
    if(index == -1):
      print("No such attibute exists in orderby clause thats entered in query")
      return "where??"
    if(index!=-1):
      rows = sorted(rows1,key=lambda x:x[index])
      with open(new_file_name,"w+") as file3:
        for i in range(len(header1)):
          #if(not i in index_lis2):
            file3.write(header1[i])
            if(i!=len(header1)-1):
              file3.write(",")       
        file3.write("\n")
        
        for i in range(len(rows)):
          for j in range(len(rows[i])):
            file3.write(rows[i][j])
            if(j!=len(rows[i])-1):
              file3.write(",")
          file3.write("\n")

       
  #it can do only for 1 attribute but not for many attributes
  return new_file_name

In [ ]:
#checking if the record satisfying the where condition

def op(str1,str2,ops):
  if ops[0] == 1:
    #print("equal")
    return str1==str2
  elif ops[1] == 1:
    #print("notequal")
    return str1!=str2
  elif ops[2] == 1:
    #print("greater")
    return str1>str2
  elif ops[3] == 1:
    #print("greaterequal")
    return str1>=str2
  elif ops[4] == 1:
    #print("less")
    return str1<str2
  elif ops[5] == 1:
    #print("lessequal")
    return str1<=str2

In [ ]:
#where clause function first search for the attribute and if exists then only move forward
#with yes_exist flag , then get the index of the attribute from the header of the file
#and take only that value of the record and comapre with the given value.
#and if exists then write into a file

def where_fun(where_list,file_name):
  if(len(where_list)==0):
    return file_name
  
  file1 = open(file_name)
    
  data1 = csv.reader(file1)
  header1 = next(data1)
    
  rows = []
  for row in data1:
      rows.append(row)
    
  file1.close()
  yes_exist = 0
  
  if where_list[0] in header1:
    #print("in where fun")
    #print("where_list[0]",where_list[0])
    #print("header1",header1)
    yes_exist = 1
    index_lis2 = header1.index(where_list[0])
  elif not (where_list[0] in header1):
    yes_exist = 0
    print("attribute doesn't exist in the file header Don't expect any result")
    return "where??"
  #yes_exist = search_attributes(where_list[0],file_name)
  operations = [-1]*6
  operations_list = ["equal","notequal","greater_than","greater_than_or_equal","less_than","less_than_or_equal"]
  
  if(yes_exist == 1):
    sym = where_list[1]
    if sym == "=":
      operations[0] = 1
    elif sym == "!=":
      operations[1] = 1
    elif sym == ">":
      operations[2] = 1
    elif sym == ">=":
      operations[3] = 1
    elif sym == "<":
      operations[4] = 1
    elif sym == "<=":
      operations[5] = 1 
    else:
      print("Invalid symbol in where clause")
      return 
    
    #index_lis1,index_lis2 = common_attr_indices(where_list[0],header1)
    with open("output_where.csv","w+") as file3:
      #writer = csv.writer(file3)
    
      for i in range(len(header1)):
          file3.write(header1[i])
          if(i!=len(header1)-1):
            file3.write(",")
      file3.write("\n")
      for row_a in rows:
        if(op(row_a[index_lis2],where_list[2],operations)):
          #start writing the row into new file
          for temp_index1 in range(len(header1)):
            file3.write(row_a[temp_index1])
            
            if temp_index1 != (len(header1)-1):
              file3.write(",")
            else:
              file3.write("\n")
          
    return "output_where.csv"
  else:
    print("The attribute mentioned in where clause doesn't exist in table")
    return  
  
  return "output_where.csv"

In [ ]:
#displaying the file
#header is in cyan colour and adjusted for 15 characters (appended with spaces if it doesn't have 15 characters)

def display(file_name):
  file1 = open(file_name)
  data = csv.reader(file1)
  header = next(data)
  #print(header)
  rows = []
  for row in data:
    rows.append(row)
  file1.close()
  for i in range(len(header)):

    #DARKCYAN
    #print(color.CYAN + header[i].ljust(15) + color.END,end = '     ')
    print(color.CYAN + header[i].ljust(15) + color.END,end = "    ")

    
    #print(header[i],end = " ")

  print()
  for i in range(len(rows)):
    for j in range(len(rows[i])):
      print(rows[i][j].ljust(15),end = "    ")
      #print(rows[i][j].ljust(15),end = "      ")
    print()
  #out = pd.DataFrame(rows)
  #out.columns = header
  #print(out)

In [ ]:
#displaying file given header and rows of the file not the file name

def display_output(header,rows):

  for i in range(len(header)):

    print(color.CYAN + header[i].ljust(15) + color.END,end = "    ")


  print()
  for i in range(len(rows)):
    for j in range(len(rows[i])):
      print(rows[i][j].ljust(15),end = "    ")
    print()

In [ ]:
# #the select clause where i am selecting only the attributes that are given in command
# #This is old version of select now select2 is updated for serving orderby and few bugs



# def select(sl,file_name):
#   path1 = "/content/"+file_name
  
#   #print("path is : ",path1)
#   file1 = open(path1)
  
#   data1 = csv.reader(file1)
#   header1 = next(data1)
#   #print("I am in select printing header")
#   #print(str(header1))
#   index_list= []#[None]*len(sl)
#   if(sl[0]=="*"):
#     #index_list = [None]*len(header1)
#     for i in range(len(header1)):
#       index_list.append(i)# = i#header1[i]#header1.index(sl[i])
#     sl = []
#     for i in range(len(header1)):
#       sl.append(header1[i])
#   else:
#     for i in range(len(sl)):
#       index_list.append(header1.index(sl[i]))
  
#   with open("select_output.csv","w+") as outfile:
#       for i in range(len(sl)):
#           outfile.write(sl[i])
#           if(i!=len(sl)-1):
#             outfile.write(",") 
#       outfile.write("\n")
#       for row_a in data1:
#         print("row_a in select--",row_a)
#         for i in range(len(index_list)):
#           print("row_a[index_list[i]]---",row_a[index_list[i]])
#           outfile.write(row_a[index_list[i]])#rows.append(row)
#           if(i!=len(index_list)-1):
#             outfile.write(",")
#           if(i==len(index_list)-1):
#             outfile.write("\n")
#   #pass
#   file1.close()
#   header,select_out = remove_dup("select_output.csv")
#   return header,select_out

In [ ]:
# #the select clause where i am selecting only the attributes that are given in command
#returns the header and rows to the query.

def select2(sl,file_name):
  path1 = "/content/"+file_name
  #print("SELECT LIST in select ---",str(sl))
  #print("IN SELCT -------")
  #display(path1)
  #print("path is : ",path1)
  file1 = open(path1)
  
  data1 = csv.reader(file1)
  header1 = next(data1)
  #print("I am in select printing header")
  #print(str(header1))
  rows = []
  for row in data1:
    rows.append(row)
  #file1.close()

  index_list= []#[None]*len(sl)
  if(sl[0]=="*"):
    #index_list = [None]*len(header1)
    for i in range(len(header1)):
      index_list.append(i)# = i#header1[i]#header1.index(sl[i])
    sl = []
    for i in range(len(header1)):
      sl.append(header1[i])
  else:
    for i in range(len(sl)):
      index_list.append(header1.index(sl[i]))
  #print("ROWS ____",rows)
  #print("IN SELECT INDEX LIST ---",str(index_list))
  with open("select_output.csv","w+") as outfile:
      for i in range(len(sl)):
          outfile.write(sl[i])
          if(i!=len(sl)-1):
            outfile.write(",") 
      outfile.write("\n")
      for row_a in rows:
        #print("row_a in select--",row_a)
        for i in range(len(index_list)):
          #print("row_a[index_list[i]]---",row_a[index_list[i]])
          outfile.write(row_a[index_list[i]])#rows.append(row)
          if(i!=len(index_list)-1):
            outfile.write(",")
          if(i==len(index_list)-1):
            outfile.write("\n")
  #pass
  file1.close()
  header,select_out = remove_dup("select_output.csv")
  return header,select_out

In [ ]:
#to support multiple joins,creating a list for which order joins are in query

def join_orders(from_list):
  lis = []
  for i in range(len(from_list)):
    if from_list[i]=="cartesian_join":
      lis.append("cart")
    if from_list[i]=="natural_join":
      lis.append("nat")
  
  #print("join_rders in function"+str(lis))
  return lis

In [ ]:
#from function does joining of tables

def from_fun(from_list,natural_join_flag,cartesian_join_flag,joins_order):
  if(len(from_list )== 1):
      
      return from_list[0]
    
  if(len(from_list )== 2 and len(joins_order)==1):
      if(cartesian_join_flag != -1):
        cart_out = cartesian_join_fun(from_list[0],from_list[1])
        
        return cart_out
      if(natural_join_flag != -1):
        nat_out = natural_join_fun(from_list[0],from_list[1])
        
        return nat_out
  else:#(len(joins_order)>1):
    if(joins_order[0]=="cart"):
      out = cartesian_join_fun(from_list[0],from_list[1])
      #print("I am here",from_list[1])
    elif(joins_order[0]=="nat"):
        out = natural_join_fun(from_list[0],from_list[1])
        #print("I am here",from_list[1])
    joins_order.pop(0) 
    #print("joins_order_updated",str(joins_order))
    for i in range(len(joins_order)):
      if(joins_order[i]=="nat"):
        out = natural_join_fun(out,from_list[i+2])
        #print("I am here",from_list[i+2])
      elif(joins_order[i]=="cart"):
        out = cartesian_join_fun(out,from_list[i+2])
        #print("I am here",from_list[i+2])
     
    return out

#Query_main

In [ ]:
# def query2(Q):
    
#     keywords = ["natural_join","desc","cartesian_join"]
    
#     natural_join = 0
#     natural_join_index = 0
#     DESC = 0
#     DESC_index = 0
    
#     Q=Q.lower().strip().split()
#     #print(Q)
#     where_flag = 0
#     orderby_flag = 0
#     natural_join_flag = 0
#     cartesian_join_flag = 0
#     atrribute_search_flag = -1
#     where_list = []
#     orderby_list = []
#     where_index = -1

#     if(Q[0]!="select"):
#         print("Expecting a select statement first.Please give correct statement")
#         return 
    
#     #print("I am here")
#     try:
#         from_index = Q.index("from")
#     except ValueError as e:
#         print("There is no from keyword in your query,couldn't find the file from which data is to be taken")
#         return 
#     select_list = Q[1:from_index]
#     try:
#         where_index = Q.index("where")
#     except ValueError as e:
#         #print("No where clause")
#         where_flag = -1
#         #exit()
#     #print(from_index)
#     if where_flag == -1:
#         from_list = Q[from_index+1:]
#     else:
#         from_list = Q[from_index+1:where_index]
#     try:
#         orderby_index = Q.index("orderby")
#     except ValueError as e:
#         #print("No orderby clause")
#         orderby_flag = -1
#     if orderby_flag == -1 and where_index != -1:
#         where_list = Q[where_index+1:]
#     elif orderby_flag != -1 and where_index != -1:
#         where_list = Q[where_index+1:orderby_index]
#         orderby_list = Q[orderby_index+1:]
    
    
    
#     #opening the files mentioned in from
    
    
#     from_list = remove_items(from_list,",")
#     select_list = remove_items(select_list,",")

#     #print("unprocessed_from_list" + str(from_list))
#     joins_order = join_orders(from_list)
#     #print("joins_order"+ str(joins_order))
    
#     try:
#          natural_join_index = from_list.index("natural_join")
#     except ValueError as e:
#         #print("No natural_join clause")
#         natural_join_flag = -1

#     if(natural_join_flag != -1):
#       from_list = remove_items(from_list,"natural_join")

#     try:
#         cartesian_join_index = from_list.index("cartesian_join")
#     except ValueError as e:
#         #print("No cartesian_join clause")
#         cartesian_join_flag = -1

#     if(cartesian_join_flag!=-1):
#       from_list = remove_items(from_list,"cartesian_join")
    
#     no_of_files = len(from_list)
#     if((no_of_files)!=(len(joins_order)+1)):
#       print("no of files entered in from clause are not enough for the joins")
#       return
#     from_list_dup = from_list.copy()
    
#     #print("from_list_dup")
#     #print(from_list_dup)

#     for i in range(no_of_files):
#         from_list[i] = from_list[i]+".csv"
    
#     files_opening = [None]*no_of_files
    
#     #we can try opening files with the names in from_list
#     for i in range(no_of_files):
#         try:
#             files_opening[i] = open(from_list[i],"r+")
#         except FileNotFoundError:
#             print("File " + str(from_list[i])+ " not found.  Aborting")
#             return 
#         except OSError:
#             print(f"OS error occurred trying to open " + str(from_list[i])+". Aborting")
#             return 
#         except Exception as err:
#             print(f"Unexpected error opening "+str(files_opening[i]))
#             return 
#         files_opening[i].close()
#     #need to take care of order_by desc asc here come later

#     from_out = from_fun(from_list,natural_join_flag,cartesian_join_flag,joins_order)
    
#     atrribute_search_flag = search_attributes(select_list,from_out)
#     if(atrribute_search_flag == 0):
#           print("\nNo such attribute in the table please enter correct attribute")
#     where_out = where_fun(where_list,from_out)
    
#     head_col,output_file = select(select_list,where_out)

#     display_output(head_col,output_file)
#     #out = pd.DataFrame(output_file)
#     #out.columns = head_col
#     return

#main_query_working for all inputs

In [ ]:
def query3(Q):
    
    keywords = ["natural_join","desc","cartesian_join"]
    
    natural_join = 0
    natural_join_index = 0
    DESC = 0
    DESC_index = 0
    
    Q=Q.lower().strip().split()
    #print(Q)
    where_flag = 0
    orderby_flag = 0
    natural_join_flag = 0
    cartesian_join_flag = 0
    atrribute_search_flag = -1
    where_list = []
    orderby_list = []
    where_index = -1

    if(Q[0]!="select"):
        print("Expecting a select statement first.Please give correct statement")
        return 
    
    #print("I am here")
    try:
        from_index = Q.index("from")
    except ValueError as e:
        print("There is no from keyword in your query,couldn't find the file from which data is to be taken")
        return 
    select_list = Q[1:from_index]
    try:
        where_index = Q.index("where")
    except ValueError as e:
        #print("No where clause")
        where_flag = -1
        #exit()
    #print(from_index)
    if where_flag == -1:
        from_list = Q[from_index+1:]
    else:
        from_list = Q[from_index+1:where_index]
    try:
        orderby_index = Q.index("orderby")
    except ValueError as e:
        #print("No orderby clause")
        orderby_flag = -1
    if orderby_flag == -1 and where_index != -1:
        where_list = Q[where_index+1:]
    elif orderby_flag != -1 and where_index != -1:
        where_list = Q[where_index+1:orderby_index]
        orderby_list = Q[orderby_index+1:]
    
    
    
    #opening the files mentioned in from
    
    
    from_list = remove_items(from_list,",")
    select_list = remove_items(select_list,",")

    #print("unprocessed_from_list" + str(from_list))
    joins_order = join_orders(from_list)
    #print("joins_order"+ str(joins_order))
    
    try:
         natural_join_index = from_list.index("natural_join")
    except ValueError as e:
        #print("No natural_join clause")
        natural_join_flag = -1

    if(natural_join_flag != -1):
      from_list = remove_items(from_list,"natural_join")

    try:
        cartesian_join_index = from_list.index("cartesian_join")
    except ValueError as e:
        #print("No cartesian_join clause")
        cartesian_join_flag = -1

    if(cartesian_join_flag!=-1):
      from_list = remove_items(from_list,"cartesian_join")
    
    no_of_files = len(from_list)
    if((no_of_files)!=(len(joins_order)+1)):
      print("no of files entered in from clause are not enough for the joins")
      return
    from_list_dup = from_list.copy()
    
    #print("from_list_dup")
    #print(from_list_dup)

    for i in range(no_of_files):
        from_list[i] = from_list[i]+".csv"
    
    files_opening = [None]*no_of_files
    
    #we can try opening files with the names in from_list
    for i in range(no_of_files):
        try:
            files_opening[i] = open(from_list[i],"r+")
        except FileNotFoundError:
            print("File " + str(from_list[i])+ " not found.  Aborting")
            return 
        except OSError:
            print(f"OS error occurred trying to open " + str(from_list[i])+". Aborting")
            return 
        except Exception as err:
            print(f"Unexpected error opening "+str(files_opening[i]))
            return 
        files_opening[i].close()
    #need to take care of order_by desc asc here come later

    from_out = from_fun(from_list,natural_join_flag,cartesian_join_flag,joins_order)
    
    atrribute_search_flag = search_attributes(select_list,from_out)
    if(atrribute_search_flag == 0):
          print("\nNo such attribute in the table please enter correct attribute")
    where_out = where_fun(where_list,from_out)
    if where_out == "where??":
      return
    orderby_out = orderby_fun(orderby_list,where_out)
    if orderby_out == "where??":
      return
    head_col,output_file = select2(select_list,orderby_out)

    display_output(head_col,output_file)

    return

In [ ]:
print("ex query:\n\t\tSelect * from test , temp")

ex query:
		Select * from test , temp

#testing on queries of all types

In [ ]:
result = query3("  select Name , age        from test cartesian_join temp where ajshdfjh  <= hdf orderby jdhf   ")
result

File test.csv not found.  Aborting

In [ ]:
result = query3("  select Name , age        from test cartesian_join temp where ajshdfjh  <= hdf orderby jdhf   ")
result

attribute doesn't exist in the file header Don't expect any result

In [ ]:
result = query3("  select *         from temp2 cartesian_join temp cartesian_join test where phno  >= 2341 orderby jdhf   ")
result

No such attibute exists in orderby clause thats entered in query

In [ ]:
result = query3("  select *         from temp2 cartesian_join temp  where phno  >= 2341 orderby phno   ")
result

name               regdno             phno               e                  a
nitin              21557              2341               0                  0
mukesh             21558              2342               0                  0
veeerendra         21553              3231               0                  0
suraj              21555              4212               0                  0
ram                21569              823742             0                  0

In [ ]:
result = query3("  select name , phno         from temp2 cartesian_join temp  where phno  >= 2341 orderby phno   ")
result

name               phno
nitin              2341
mukesh             2342
veeerendra         3231
suraj              4212
ram                823742

In [ ]:
#query with multiple joins Result in one record i.e ram
result = query3("  select *         from temp2 cartesian_join temp cartesian_join test where phno  >= 2341 orderby phno   ")
result

name               regdno             phno               e                  a                  age                city
ram                21569              823742             0                  0                  30                 bangalore

In [ ]:
result = query3("select * from temp")
result

name                regdno              phno
naveen               21551                1422
nandan               21552                1231
veeerendra           21553                3231
suvam                21554                1234
suraj                21555                4212
shubank              21556                1232
nitin                21557                2341
mukesh               21558                2342
ram                  21569                823742

In [ ]:
query3("select from")

no of files entered in from clause are not enough for the joins

In [ ]:
query3("* from test where name = ram")

Expecting a select statement first.Please give correct statement

In [ ]:
query3("select * from test where name = ram")

name               age                city
ram                30                 bangalore

In [ ]:
query3("select * from test cartesian_join temp2 where name = ram")

name               age                city               regdno             phno               e
ram                30                 bangalore          21569              823742             0

In [ ]:
query3("select * from test cartesian_join test3  ")

name               age                city               aged               collage
ram                30                 bangalore          20                 sssihl
ram                30                 bangalore          30                 sssihl
ram                30                 bangalore          12                 igbms
kapil              32                 hyderabad          20                 sssihl
kapil              32                 hyderabad          30                 sssihl
kapil              32                 hyderabad          12                 igbms
sathish            16                 chennai            20                 sssihl
sathish            16                 chennai            30                 sssihl
sathish            16                 chennai            12                 igbms
ravi               39                 bangalore          20                 sssihl
ravi               39                 bangalore          30                 sssihl
ravi               39                 bangalore          12                 igbms
kavita             12                 hyderabad          20                 sssihl
kavita             12                 hyderabad          30                 sssihl
kavita             12                 hyderabad          12                 igbms
kavya              19                 mysore             20                 sssihl
kavya              19                 mysore             30                 sssihl
kavya              19                 mysore             12                 igbms

In [ ]:
display('/content/temp2.csvnat_jointemp.csv')

name                regdno              phno                e                   a
naveen               21551                1422                 0                    0
nandan               21552                1231                 0                    0
veeerendra           21553                3231                 0                    0
suvam                21554                1234                 0                    0
suraj                21555                4212                 0                    0
shubank              21556                1232                 0                    0
nitin                21557                2341                 0                    0
mukesh               21558                2342                 0                    0
ram                  21569                823742               0                    0

In [ ]:
#in select * or name of the attributes currently only small letters need to be entered even for header
#follow up can use list((map(lambda x: x.lower(), s))) to make header as what i needed

#from have to enter filenames (need not give .csv extension) and needed natural_join or cartisian_join as single word not as two
#from can handle any number of joins in any order

#where can handle one statement with =,!=,<,>,>=,<= operations on attributes somemore using AND ,OR yet to be done.

#orderby in progress

#dealing with materialized views.So writing down all the records as of when we know that they are part of it.

#have display function,which takes file.csv as input and reads from the file and displays with header in cyan colour
#and remaining rows as adjusted to 15 characters each word(appended with spaces).

#can use a class with a little change in the code,here i am dealing with file names
#and the opening and reading the header and rows 
#instead i can have a class with class variables as file name,header and rows.
#if its done the opening of file reading will be redundant 
#but this opening and closing happening in every function if i implement this in from_fun,i will be aving the file names
#that i need to open.So once and for all i can read the header and rows in that and done.